<div id="player-container">
    <div id="player-inner">
        <div id="player-controller">
            <a id="prev-button" class="fas fa-angle-left" onclick="prevTrack()"></a>
            <a id="play-button" class="fa fa-play" onclick="playOrPauseTrack()"></a>
            <a id="next-button" class="fas fa-angle-right" onclick="nextTrack()"></a>
        </div>
        <div id="track-current-time">00:00</div>
        <div id="player-seek-bar-container">
            <div id="seek-bar">
                <div id="fill">
                    <!-- <div id="handle"></div> -->
                </div>
            </div>
        </div>
        <div id="track-duration">00:00</div>
        <div id="track-cover">
        </div>
        <div id="track-title"><span id="artist">Cooroot</span><br><span id="title"></span></div>
    </div>
</div>