@font-face {
    font-family: San Francisco;
    src: url(fonts/sm\ SFNSDisplay-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: San Francisco;
    letter-spacing: 1.2px;
}

.navigator {
    width: 100%;
    height: 80px;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.navigator-inner {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigator-inner a {
    text-decoration: none;
    color: #ffeeffee;
    display: block;
    font-weight: bold;
    font-size: 22px;
    padding: 10px;
    text-align: center;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
    float: left;
}

.navigator-inner a:hover {
    color: #33ffcc;
    transition: 0.6s ease; 
}

#container {
    /* background-image: url("https://image.freepik.com/free-vector/gradient-geometric-shape-background_78532-374.jpg"); */
    background-color: #334c7d;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    padding: 50px 50px;
    display: flex;
}

#logo-container {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-left: 150px;
}

.cooroot-logo {
    background-image: url("img/Cooroot-Logo-Transparent.png");
    background-position: center;
    background-size: 700px 700px;
    width: 500px;
    height: 500px;
}

#social-media-container {
    display: flex;
    padding: 15px 10px;
    width: 200px;
    justify-content: space-around;
    align-content: center;
    align-self: flex-end;
}

#social-media {
    display: block;
}

#social-media-container a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 22px;
}

#social-media-container a:hover {
    color: #33ffcc;
}

#about-container {
    /* background-image: url("https://image.freepik.com/free-vector/gradient-green-blue-abstract-geometric-background_23-2148362562.jpg"); */
    background-color: #2a3f69;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

#about-inner {
    width: 45%;
    height: 210px;
    padding: 0 35px;
    display: flex;
    flex-direction: column;
    margin-left: 20vh;
    border-left-style: solid;
    border-left-width: 5px;
    border-left-color: #f1f1f1f1;
}

#about-inner > p {
    color: #f1f1f1f1;
    font-size: 18px;
    text-align: justify;
    /* text-shadow: 2px 1px 3px rgba(0,0,0,0.5); */
}

#about-inner > h1 {
  color: #33ffcc;
  font-size: 30px;
  justify-self: flex-start;
  text-align: left;
  /* text-shadow: 2px 1px 3px rgba(0,0,0,0.5); */
}

#releases-container {
    background-color:#26395e;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#releases-inner {
  display: flex;
  width: 90%;
  height: 80vh;
  align-self: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

#releases-inner h1, p {
  font-size: 18px;
  color: #f1f1f1f1;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
}

#track-container {
    background-color:#566d99;
    margin: 10px 10px;
    display: flex;
    flex-direction: column;
    width: 224px;
    box-shadow: rgba(0,0,0,0.5) 6px 5px 6px;
    /* border-color: #f1f1f1f1;
    border-width: 1px;
    border-style: solid; */
    border-radius: 30px;
    cursor: pointer;
    justify-content: space-around;
}

#track-container:hover #track-title {
    color: #f1f1f1f1;
    transition: 0.4s ease;
}

#track-container:hover {
    background-color: #33ffcc;
    border-color: #33ffcc;
    transition: 0.4s ease;
}

#cover-container {
  width: 220px;
  height: 270px;
  padding: 0.8px 0;
  margin: auto;
}

#cover-container img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 220px;
    height: 270px;
    justify-items: center;
}

#title-container {
    width: 220px;
    text-align: center;
}

#contact-container {
    /* background-image: url("img/contact-background.jpg"); */
    background-color: #1e2d4a;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}

.contact-form {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 70vh;
    padding: 250px 250px;
}

input[type=text], textarea {
    background: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #33ffcc;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    resize: vertical;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-style: solid;
    max-height: 30vh;
}

label {
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    padding: 0 10px;
}

input[type=submit] {
    background-color: #33ffcc;
    color: #111;
    padding: 15px 30px;
    border: none; 
    cursor: pointer;
    font-family: arial;
    font-weight: bold;
    margin-top: 20px;
}

#player-container {
    width: 300px;
    height: 400px;
    display: flex;
    background-color: rgba(217, 217, 217, 0.8);
    justify-content: right;
    position: absolute;
    border-radius: 30px;
    right: 30vh;
    top: 30vh;
}

#player-inner {
  width: 150px;
  height: 250px;
}