@font-face {
    font-family: San Francisco;
    src: url(fonts/sm\ SFNSDisplay-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: San Francisco;
}

.navigator {
    width: 100%;
    height: 30px;
    position: fixed;
    right: 10vh;
}

.navigator-inner {
    display: flex;
    flex-direction: row;
    float: right;
    overflow: hidden;
}

.navigator-inner a {
    text-decoration: none;
    color: #ffeeffee;
    display: block;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    text-align: center;
    text-shadow: 2px 2px rgba(0,0,0,0.5);
}

.navigator-inner a:hover {
    color: #33ffcc;
    transition: 0.6s ease; 
}

#container {
    background-image: url("img/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100vh;
    padding: 50px 50px;
}

.cooroot-logo {
    background-image: url("img/Cooroot-Logo-Transparent.png");
    background-position: center;
    background-size: 700px 700px;
    width: 500px;
    height: 500px;
    margin: 200px auto;
}

#social-media-container {
    display: flex;
    padding: 5px 5px;
    width: 150px;
    margin-top: -3%;
    justify-content: space-around;
}

#social-media {
    display: block;
}

#social-media-container a {
    text-decoration: none;
    color: white;
    display: block;
    font-size: 22px;
}

#social-media-container a:hover {
    color: #33ffcc;
}

#about-container {
    background-image: url("img/about-background.jpg");
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}

#about-inner {
    width: 60%;
    height: 850px;
    display: flex;
    align-items: center;
    text-align: justify;
    margin: auto;
}

#about-inner > p {
    color: #fff;
    font-size: 20px;
    text-shadow: 2px 1px 3px rgba(0,0,0,0.5);
}

#releases-container {
    background-image: url("img/releases-background.jpg");
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}

#contact-container {
    background-image: url("img/contact-background.jpg");
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 100vh;
}

.contact-form {
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 70vh;
    padding: 250px 250px;
}

input[type=text], textarea {
    background: none;
    width: 100%;
    padding: 10px;
    border: 1px solid #33ffcc;
    box-sizing: border-box;
    margin-top: 30px;
    margin-bottom: 30px;
    resize: vertical;
    color: white;
}

label {
    color: white;
    font-family: Helvetica;
    font-weight: bold;
}

input[type=submit] {
    background-color: #33ffcc;
    color: #111;
    padding: 15px 30px;
    border: none; 
    cursor: pointer;
    font-family: arial;
    font-weight: bold;
    margin-top: 20px;
}