{% extends 'layout.html' %}

{% block content %} 
    <div id="container">
        <div id="container-bg"></div>
        <div id="logo-container">
            <div class="cooroot-logo"></div>
        </div>
        <div id="social-media-container">
            <div id="social-media">
                <a href="https://facebook.com/coorootmusic" class="fab fa-facebook"></a>
            </div>
            <div id="social-media">
            <a href="https://soundcloud.com/coorootmusic" class="fab fa-soundcloud"></a>
            </div>
            <div id="social-media">
            <a href="https://instagram.com/coorootmusic" class="fab fa-instagram"></a>
            </div>
            <div id="social-media">
                <a href="https://open.spotify.com/artist/3S8va2acp3V46So5f99qqz" class="fab fa-spotify"></a>
                </div>
        </div>    

    </div>

    <div id="about-container">
        <div id="about-inner">
          <h1>ABOUT COOROOT</h1>
            <p>Welcome to Cooroot's official web page. Cooroot is a sound producer from unknown country in Central Asia since february 2016. He produces music in genres such as dubstep, trap, future bass etc. But mostly make dubstep, because it's favorite electronic music genre.
                You can listen to Cooroot's tracks right from this website, because it got its own audio player. Wish you a good journey in our website!
            </p>
        </div>
    </div>

    <div id="releases-container">
        <div id="releases-inner">
          {% for release in releases %}
            <div id="track-container">
                <div id="cover-container">
                    <a href="release/{{release.id}}"><img src="{{ release.cover }}"></a>
                </div>
                <div id="title-container">
                    <p id="track-title">
                        <strong>{{release.artist }}</strong> <br> {{ release.title }} <br> {{ release.genre }}
                    </p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="contact-container">
        <div class="contact-form">
            <form>
                <label for="fname">First Name</label>
                <input type="text" id="fname" name="firstname" placeholder="Enter your name...">

                <label for="lname">Last Name</label>
                <input type="text" id="lname" name="lastname" placeholder="Enter your last name...">

                <label for="subject">Subject</label>
                <textarea id="subject" name="subject" placeholder="Write something..."></textarea>

                <input type="submit" value="SUBMIT">
            </form>
        </div>
    </div>
    

{% endblock %}